<h1>Editing lognote</h1>

<%= render 'form' %>

<%= link_to 'Show', language_flashcard_log_lognote_path(@language, @flashcard, @log, @lognote) %> |
<%= link_to 'Back', language_flashcard_log_path(@language, @flashcard, @log) %>
