<h1>Editing log</h1>

<%= render 'form' %>

<%= link_to 'Show', language_flashcard_log_path(@language, @flashcard, @log) %> |
<%= link_to 'Back', language_flashcard_logs_path(@language, @flashcard) %>
