<h1>Editing vocabulary</h1>

<%= render 'form' %>

<%= link_to 'Show', language_flashcard_vocabulary_path(@language, @flashcard, @vocabulary) %> |
<%= link_to 'Back', language_flashcard_vocabularies_path(@language, @flashcard) %>
